@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Use 
font-family: 'Mukta', sans-serif;
font-family: 'Playfair Display', serif;
 */

 * {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

 html{
  box-sizing: border-box;
 }

body{
  font-family: 'Mukta', sans-serif;
  background-color: #eee7d5;
}

h1, h2, h3, h4{
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
}

.width-80{
  width: 80%;
  margin: 0 auto;
}

.large {
  font-size: 1.8rem;
}

.larger{
  font-size: 2.5rem;
}





/* Styling the navbar */
header {
  background-color: #1d1010;
  color: whitesmoke;
  top: 0px;
  box-shadow: 0 2px 4px #bebebe;
  margin-bottom: 40px;
  width: 100%;
}

nav {
  max-width: 90%;
  text-align: center;
  margin: 0 auto;
}
nav h1 {
  font-size: 3.2rem;
  padding: 15px 0;
  border-bottom: solid whitesmoke 1px;
}

nav h1 a {
  color: whitesmoke;
  text-decoration: none;
}

 ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 10px 0;
}

nav ul li a{
  display: inline-block;
  position: relative;
  font-size: 1.7rem;
  color: whitesmoke;
  text-decoration: none;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 80%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 10%;
  background-color: whitesmoke;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}

/* Making the navbar responsive to viewport width */
@media screen and (max-width: 540px) {
  nav h1{
    font-size: 2.3rem;
  }

  nav ul{
    gap: 3.5vw;
  }

  nav ul li a {
    font-size: 5.5vw;
  }
  
}

@media screen and (max-width: 390px){
  nav h1 .remove-on-resize {
    display: none;
  }

  nav ul{
    gap: 3vw;
  }

  nav ul li a {
    font-size: 6vw;
  }
}

/* Styling the home component */


div .home .hero{
  background-image: url("../public/images/non-artwork-images/desert-sunrise.jpeg");
  background-position: 75% 64%;
  height: 450px;
  display: flex;
  text-align: center;
  margin: -40px auto 60px;
  justify-content: center;
  align-items: center;
  font-size: 3.2rem;
}

div .home .larger{
  text-align: center;
  font-size: 2.2rem;
  font-weight: 300;
}
div .home p{
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: 200;
}

.home a {
  color: #4f2b2b;
}

/* Making the home component responsive to viewport size */
@media screen and (max-width: 550px){
  div .home .hero{
    font-size: 2.3rem;
    height: 250px;
    margin-bottom: 35px;
  }

  div .home p{
    font-size: 1.6rem;
    line-height: 1.3;
  }
}

@media screen and (max-width: 350px){
  div .home .hero{
    font-size: 1.5rem;
    height: 200px;
    margin-bottom: 20px;
  }
  
}


/* Styling the piecegallery page */

  .gallery-container{
    width: 95%;
    margin: auto;
  }
  
  .gallery-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    margin-top: -20px;
  }

  .gallery-selection button {
    width: 200px;
    font-size: 1.2rem;
    background-color: #361e1e;
    color: whitesmoke;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .gallery-selection button:hover{
    background: #1e1010;
  }

  .gallery-selection button:active{
    transform: translateY(3px);
  }

  .gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 60px;
    margin-bottom: 40px;
  }

  .piece img {
    width: 100%;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px #717070;
  }

  .grow:hover{
    transform: scale(1.02);
    transition: transform ease-in-out .15s;
  }

  .Overlay {
    overflow-y: scroll;
    position: fixed;
    inset: 0;
    background-color: #eee7d5ef;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .Modal button{
    font-size: 2rem;
    border: solid 1px #1d1010;
    background-color: #eee7d564;
    border-radius: 30%;
    position: absolute;
    height: 40px;
    width: 40px;
    padding-bottom: 4px;
    top: 30px;
    right: 60px;
  } 

  .Modal button:hover{
    background-color: #c4beafc4;
  }

  .Modal {
    text-align: center;
  }


  .Modal img{
    margin-top: 35px;
    max-height: 90vh;
    max-width: 100%;
  }

  .Modal h3{
    font-size: 1.2rem;
  }



  @media screen and (max-width: 900px){
    .gallery-container{
      max-width: 100%;
      max-height: 95%;
    }

    .gallery{
     grid-template-columns: 1fr 1fr;
     gap: 25px
    }

    .gallery img{
      height: 400px;
    }
  }

  @media screen and (max-width: 550px){
    .gallery-container{
      max-width: fit-content;
    }

    .gallery{
     grid-template-columns: 1fr;
     gap: 25px
    }

    .gallery img{
      height: 400px;
    }
  }

  @media screen and (orientation:landscape) {
    .Modal img{
      margin-top: 30px;
    }
  }




/*Styling the footer */

footer {
  background-color: #1d1010;
  width: 100%;
}

footer ul{
  height: 100px;
  font-size: 1.3rem;
  font-weight: 100;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 10%;
  justify-content: center;
  align-items: center;
}

footer a{
  text-decoration: underline 1px;
  color: whitesmoke;
  border-bottom: 1px whitesmoke;
}